html, body, #root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  max-width: 500px;
  margin: 100px auto 0;
}

.footer {
  flex: 0 0 auto;
}
